body {
  font-family: 'Roboto Regular', 'Arial';
}

.city-name {
  font-size: 36px;
  color: purple;
}

.current-temp {
  font-size: 28px;
  color: black;
}

#forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
